@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Video Div*/

.video-container {
    touch-action: none;
    position:relative;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.auth-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.wrapper{
    position: absolute;
    width: 70vw;
    height: 45px;
    background: transparent;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* .btn {
    width: 100%;
    height: 45px;
    top: 0px;
    background: hsl(206, 44%, 15%);
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
} */

.btn {
    width: 100%;
    height: 45px;
    top: 0px;
    display: inline-flex;
    align-items: center;
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 24px; /* Rounded corners */
    padding: 8px 16px; /* Adjust padding as needed */
    font-size: 16px; /* Text size */
    font-weight: 500; /*  Medium font weight*/
    color: #222; /* Dark gray text */
    cursor: pointer; /* Show hand pointer on hover */
    transition: all 0.2s ease-in-out; /* Smooth hover animation */
    box-shadow: 0 1px 2px rgba(0,0,0,0.1); /* Subtle shadow */
}

.btn:hover {
    background-color: #fbffce; /* Light gray background on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Stronger shadow on hover */
}

.btn .jocker-logo {
    width: 20px; /* Adjust image width as needed */
    height: 20px; /* Adjust image height as needed */
    margin-right: 8px; /* Space between logo and text */
}

.btn .text {
    width: 100%; /* Take up all available space */
    align-self: center; /* Center text vertically */;
    padding-right: 28px;
}

