* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-container {
    touch-action: none;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#myVideo {
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.content {
    position: relative;
    color: #fff;
    padding: 20px;
}